@import "./variable";
html, body {
  height: 100%;
}
html {
  font-size: 14px;
}
body {
  background-color: $color-white;
  color: $color-font-black;
  font-family: -apple-system, "PingFang SC", "Helvetica Neue", sans-serif;
}

img {
  max-width: 100%;
}
