// 定义颜色规范
$color-primary: #FF5777 !default;  // 粉色
$color-white: #fff !default; // 白色
$color-font-black: #666 !default; // 普通文本字体颜色（浅黑）
$color-gray-light: #f4f4f4 !default; // 浅灰色
$color-btn-primary: #f66 !default; // 橘色
$color-yellow: #ffe817 !default; // 黄色

// border color
$color-border-gray: #E5E5E5 !default;

// 定义字体大小规范
$font-sm-s: 12px !default;
$font-sm: 14px !default;
$font-md: 18px !default;
$font-lg: 24px !default;
$font-xl: 28px !default;
$font-xxl: 32px !default;
$font-xxxl: 36px !default;
